body {
    font-family: "plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
  flex: 1;
}

.content {
  margin-left: 50px;
}

.navbar{
  background-color: white;
}

.fa-house-chimney-user{
  font-size: 2rem;
  color: #fe424d;
}

a.nav-link{
  font-size: 1.2rem;
  margin-right: 1rem;
  color: #222222;
}

a.nav-link:hover{
  color: #fe424d
}

/*footer*/
.f-info-links a{
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover{
  text-decoration: underline;
  color: blue;
}

.f-info-links, .f-info-socials, .f-info-brand{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i{
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-evenly;
}

/*cards*/
.card{
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.listing-link{
  text-decoration: none !important;
  color: black !important;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  background-color: white;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.add-btn{
  background-color: #fe424d !important;
  border: none !important;
}

.edit-btn{
  background-color: #fe424d !important;
  border: none !important;
}

.btns{
  display: flex;
  justify-content: space-between;
}

  #filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 100%;
  }

  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  /* Icons */
  .filter i {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .filter-link {
    text-decoration: none;
    color: inherit;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  .tax-info {
    display: none;
  }

  .listing-link {
    text-decoration: none;
    color: inherit;
  }
  
  .listing-link:hover .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
  }

  .btn-search{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
    border-radius: 25px;
    padding: 0rem 1rem 0rem 1rem;
  }

  .btn-search:hover{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
    opacity: 0.8;
  }

.btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }

.search-input{
    border-radius: 25px;
    width: 200px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
/* .search-input:focus{
    box-shadow: none !important;
    border: 2px solid #fe424d !important;
  } */
